h1 Who we are?
p.
  We are a community of passionate Web Developers, committed to driving
  the Web Industry forward.
h2 Speakers
p.
  Here's are the people leading the charge into the future, offering their
  time to prepaire and present talks targeted at expanding the knowledge
  of the community as a whole:
ul.speakers
  each speaker in speakers
    li.profile
      a(href=speaker.profile)
        img(src=speaker.image, title=speaker.name)
        span=speaker.name
h2 The community at large
p.
  In addition to showcasing those who've offered conent the following is a
  preview of the dedicated members of the community as a whole. Without
  the people listed here, Web Developer 42&deg; would be nothing.
ul.speakers.community
  each speaker in speakers
    li.profile
      a(href=speaker.profile)
        img(src=speaker.image, title=speaker.name)
        span=speaker.name
